body {
    font-family: Roboto, sans-serif;
}
/* styling header */

.header {
    background-color: #1F2937;
    color: #eee;
    display: flex;
    justify-content: space-between;
}

.header-right , .header-left {
    display: flex;
}

.header-right {
    gap: 20px;
    margin-right: 200px;
    justify-content: center;
    align-items: center;
}

.header-left {
    margin-left: 200px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* styling first part of content*/

.first {
    background-color: #1F2937;
    color: #eee;
    display: flex;
    padding-bottom: 100px;
}

.first-left {
    margin-left: 200px;
}

.first-right {
    margin-right: 200px;
}

.h1 {
    font-size: 48px;
    font-weight: 900;
}

.text {
    font-size: 18px;
}

/*styling button*/

button {
    background-color: #3882F6;
    color:#eee;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    padding: 8px;
}

.text-button {
    margin: 10px;
}

/*styling second part of content*/
.second {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
}

.bottom {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/*styling third part of content*/

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

blockquote {
    padding: 50px;
}

.quote {
    margin-left: 200px;
    margin-right: 200px;
}

.quote-footer {
    margin-right: auto;
    display: flex;
    justify-content: end;
    margin-right: 200px;
}


